@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    src: url('@fontsource/space-grotesk/files/space-grotesk-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Space Grotesk';
    src: url('@fontsource/space-grotesk/files/space-grotesk-latin-700-normal.woff2') format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
  }
}